META-INF/
.project
target/
MANIFEST.MF

/deployment/maven/dist_common/
/deployment/maven/dist_gtk2-linux-x86_64/
/deployment/maven/done/
/deployment/maven/tmp/

*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.class
*.orig
*~
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#python specific
*.pyc

/deployment/maven/dist_win32-x86
/deployment/maven/dist_win32-x86_64
/deployment/maven/dist_cocoa-macosx-x86_64
/deployment/maven/dist_gtk2-linux-x86

